/* App.css */
:root {
  /* Default: Light Mode */
  --bg-main: #f4f7fe;
  --bg-card: #ffffff;
  --text-primary: #2d3748;
  --text-secondary: #718096;
  --accent: #3b82f6;
  --border: #e2e8f0;
}

/* Class ini akan dipasang di <body> oleh JavaScript */
body.dark-theme {
  --bg-main: #0b1120;
  --bg-card: #1a2235;
  --text-primary: #f7fafc;
  --text-secondary: #a0aec0;
  --accent: #60a5fa;
  --border: #2d3748;
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}